---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  
  {% include header.html %}

  <div class="jumbotron intro">
    <div class="container">
      <div>
        <h1>觉醒孩子内心的力量</h1>
        <p>我们培养孩子的品质</p>
        <p>我们为家庭提供长期、细致、全面的解决方案</p>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 feature">
          <img src="{{site.baseurl}}/assets/icon_psych_cs.png" alt="Generic placeholder image" width="80" height="80">
          <h2>认知科学</h2>
          <p>心理学，脑科学</p>
          <p>最前沿的科研成果</p>
          <p>和科研机构保持合作</p>
          <p><a class="btn btn-default" href="{{site.baseurl}}/about/" role="button">加入我们</a></p>
        </div>
        
        <div class="col-lg-3 feature">
          <img src="{{site.baseurl}}/assets/icon_integrate.png" alt="Generic placeholder image" width="80" height="80">
          <h2>整体解决方案</h2>
          <p>着眼于孩子</p>
          <p>关注整个家庭</p>
          <p>整体解决方案</p>
          <p><a class="btn btn-default" href="{{site.baseurl}}/tools/" role="button">工具箱</a></p>
        </div>
        
        <div class="col-lg-3 feature">
          <img src="{{site.baseurl}}/assets/icon_customize.png" alt="Generic placeholder image" width="80" height="80">
          <h2>个性化服务</h2>
          <p>重视孩子的个性</p>
          <p>现代的心理测量技术</p>
          <p>个性化服务</p>
          <p><a class="btn btn-default" href="{{site.baseurl}}/measures/" role="button">测量</a></p>
        </div>

        <div class="col-lg-3 feature">
          <img src="{{site.baseurl}}/assets/icon_community.png" alt="Generic placeholder image" width="80" height="80">
          <h2>社区</h2>
          <p>创建个人页面</p>
          <p>与其他用户交流</p>
          <p>组织线下活动</p>
          <form class="navbar-form">
            <button type="button" class="btn btn-success">注册</button>
            <button type="button" class="btn btn-default">登录</button>
          </form>
        </div>   
      </div>
    </div>
  </div>
 
  {% include footer.html %}

</body>
</html>
