---
<!DOCTYPE html>
<html>

{% include head.html %}

<body> 

{% include header.html %}

<div class="jumbotron intro">
  <div class="container">
    <div>
      <h1>工具箱</h1>
      <p>面向教育者和家庭的知识和工具</p>
      <p>通过对上千学生的研究,</p>
      <p>科学界发现所有品质可以分成三大类:</p>
      
    </div>
  </div>
</div>


<div class="features">
  <div class="container">
  
      <div class="row">
          <div class="col-lg-4 feature">
            <img class="img-circle" src="{{site.baseurl}}/assets/s_heart.png" alt="strengths of heart" width="100" height="100">
            <h2>心灵品质</h2>
            <h3>strengths of heart</h3>
            <p>这些品质和 "助人" 有关，</p>
            <p>让你与他人建立积极的联系。</p>
            <p><a href="#strengths-of-heart" class="btn btn-default" role="button" id="heart">所有心灵品质</a></p>
          </div><!-- /.col-lg-4 -->
          
          <div class="col-lg-4 feature">
            <img class="img-circle" src="{{site.baseurl}}/assets/s_mind.png" alt="strengths of mind" width="100" height="100">
            <h2>思维品质</h2>
            <h3>strengths of mind</h3>
            <p>这些品质和 "思想" 有关，</p>
            <p>带来精神世界的丰富和独立。</p>
            <p><a href="#strengths-of-mind" class="btn btn-default" role="button" id="mind">所有思维品质</a></p>
          </div><!-- /.col-lg-4 -->
          
          <div class="col-lg-4 feature">
            <img class="img-circle" src="{{site.baseurl}}/assets/s_will.png" alt="strengths of will" width="100" height="100">
            <h2>意志品质</h2>
            <h3>strengths of will</h3>
            <p>这些品质和 "行动" 有关，</p>
            <p>帮助你实现目标。</p>
            <p><a href="#strengths-of-will" class="btn btn-default" role="button" id="will">所有意志品质</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
  </div>
</div>


<div id="strengths-of-heart" class="my-hide">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/purpose.jpg" alt="...">
          <div class="caption">
            <h3>高瞻愿景</h3>
            <p>Purpose</p>
            <p>具有高瞻愿景意味着被某些比你自身更广阔的事情所驱动。</p>
            <p><a href="{{site.baseurl}}/tools/purpose/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/self-control.jpg" alt="...">
          <div class="caption">
            <h3>自我管控</h3>
            <p>Self-Control</p>
            <p>简称自控，指控制自己的反应, 让反应与近期和长远目标相一致.</p>
            <p><a href="{{site.baseurl}}/tools/self-control/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/social-intelligence.jpg" alt="...">
          <div class="caption">
            <h3>社会/情绪智力</h3>
            <p>Social/Emotional Intelligence</p>
            <p>社会/情绪智力是理解感受, 并基于感受行动。</p>
            <p><a href="{{site.baseurl}}/tools/social-emotional-intelligence/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/gratitude.jpg" alt="...">
          <div class="caption">
            <h3>感恩</h3>
            <p>Gratitude</p>
            <p>感恩是对他人帮助的感激, 是回报他人的欲望.</p>
            <p><a href="{{site.baseurl}}/tools/gratitude/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="strengths-of-mind" class="my-hide">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/self-control.jpg" alt="...">
          <div class="caption">
            <h3>自我管控</h3>
            <p>Self-Control</p>
            <p>简称自控，指控制自己的反应, 让反应与近期和长远目标相一致.</p>
            <p><a href="{{site.baseurl}}/tools/self-control/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/zest.jpg" alt="...">
          <div class="caption">
            <h3>热情</h3>
            <p>Zest</p>
            <p>热情，也可以称为活力 (vitality)，是一种充满激情与能量的生活方式.</p>
            <p><a href="{{site.baseurl}}/tools/zest/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/curiosity.jpg" alt="...">
          <div class="caption">
            <h3>好奇心</h3>
            <p>Curiosity</p>
            <p>好奇心是想要学习或了解某些事物的强烈欲望 -- 搜寻, 只为信息本身。</p>
            <p><a href="{{site.baseurl}}/tools/curiosity/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="strengths-of-will" class="my-hide">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/optimism.jpg" alt="...">
          <div class="caption">
            <h3>积极乐观</h3>
            <p>Optimism</p>
            <p>积极乐观是对未来抱有希望，主动吸收正能量，有塑造未来的能动性。</p>
            <p><a href="{{site.baseurl}}/tools/optimism/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/growth-mindset.jpg" alt="...">
          <div class="caption">
            <h3>成长心态</h3>
            <p>Growth Mindset</p>
            <p>我们将成长心态简称为上进。它的核心是人坚信自己的智力是可以发展的。</p>
            <p><a href="{{site.baseurl}}/tools/growth-mindset/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/grit.jpg" alt="...">
          <div class="caption">
            <h3>坚韧毅力</h3>
            <p>Grit</p>
            <p>坚韧毅力，或者简称坚毅，是坚持不懈，是对长远目标的激情。</p>
            <p><a href="{{site.baseurl}}/tools/grit/" class="btn btn-default" role="button">了解更多</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}

<script>
  $(function() {
    $('#heart').click(function () {
      $('#strengths-of-mind').hide();
      $('#strengths-of-will').hide();
      $('#strengths-of-heart').toggle();
    });

    $('#mind').click(function () {
      $('#strengths-of-heart').hide();
      $('#strengths-of-will').hide();
      $('#strengths-of-mind').toggle();
    });

    $('#will').click(function () {
      $('#strengths-of-heart').hide();
      $('#strengths-of-mind').hide();
      $('#strengths-of-will').toggle();
    });
  })
</script>

</body>
</html>













